openapi: 3.0.1
info:
  contact:
    url: https://metacopier.io
  description: "Explore the power of the MetaCopier API! Our RESTful API offers scalable\
    \ and secure access to accounts, projects, and more. Get started quickly with\
    \ authentication, explore endpoints, and access code samples in various languages.<br/><br/>All\
    \ dates are in ISO 8601<br/><br/>This API is not designed for real-time communication\
    \ purposes. For instance, continuously polling account information such as open\
    \ positions every second is not recommended.<br/><br/>Our frontend uses this API,\
    \ so you can look at the requests on our frontend for examples."
  title: MetaCopier API
  version: 1.2.5
servers:
- description: Generated server url
  url: https://api.metacopier.io
security:
- ApiKeyAuth: []
tags:
- description: "To simplify the API, we combined the pending orders and positions\
    \ into the 'positions' endpoint."
  name: Trading API
paths:
  /rest/api/v1/accounts:
    get:
      operationId: getAccounts
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AccountDTO"
                type: array
          description: OK
      summary: Get all accounts
      tags:
      - Account API
    post:
      operationId: createAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountDTO"
          description: OK
      summary: Create an account
      tags:
      - Account API
  /rest/api/v1/accounts/activateAllCopiers:
    post:
      operationId: activateAllCopiers
      responses:
        "204":
          description: No Content
      summary: Activate all copiers across all accounts
      tags:
      - Account API
  /rest/api/v1/accounts/deactivateAllCopiers:
    post:
      operationId: deactivateAllCopiers
      responses:
        "204":
          description: No Content
      summary: Deactivate all copiers across all accounts
      tags:
      - Account API
  /rest/api/v1/accounts/monitorOnlyAllCopiers:
    post:
      operationId: monitorOnlyAllCopiers
      responses:
        "204":
          description: No Content
      summary: Set all copiers across all accounts to monitor-only mode
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}:
    delete:
      operationId: deleteAccount
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete an account
      tags:
      - Account API
    get:
      operationId: getAccount
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountDTO"
          description: OK
      summary: Get an account
      tags:
      - Account API
    put:
      operationId: updateAccount
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountDTO"
          description: OK
      summary: Update an account
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/actions/closeAllPositions:
    post:
      operationId: closeAllPositions
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Close all account positions
      tags:
      - Trading API
  /rest/api/v1/accounts/{accountId}/actions/start:
    post:
      operationId: startAccount
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountDTO"
          description: OK
      summary: Start an account (connect)
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/actions/stop:
    post:
      operationId: stopAccount
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountDTO"
          description: OK
      summary: Stop an account (disconnect)
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/activateSlavesCopier:
    post:
      operationId: activateSlavesCopier
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Activate all copiers of all slave accounts
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/approvals:
    post:
      operationId: createAccountApproval
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApprovalDTO"
        required: true
      responses:
        "204":
          description: No Content
      summary: Create an approval
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/auditLogs:
    get:
      description: Retrieves audit logs for all API modifications made to a specific
        account.
      operationId: getAccountAuditLogs
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Maximum number of logs to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Number of logs to skip for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Start date filter (ISO-8601 format)
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: End date filter (ISO-8601 format)
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AuditLogDTO"
                type: array
          description: OK
      summary: Get audit logs for a specific account
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/copiers:
    get:
      operationId: getCopiers
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CopierDTO"
                type: array
          description: OK
      summary: Get account copiers
      tags:
      - Account API
    post:
      operationId: createCopier
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CopierDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CopierDTO"
          description: OK
      summary: Create an account copier
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/copiers/{copierId}:
    delete:
      operationId: deleteCopier
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: copierId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete an account copier
      tags:
      - Account API
    get:
      operationId: getCopier
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: copierId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CopierDTO"
          description: OK
      summary: Get account copier
      tags:
      - Account API
    put:
      operationId: updateCopier
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: copierId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CopierDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CopierDTO"
          description: OK
      summary: Update an account copier
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/copiers/{copierId}/features:
    get:
      operationId: getCopierFeatures
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: copierId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FeatureDTO"
                type: array
          description: OK
      summary: Get all copier features
      tags:
      - Account API
    post:
      operationId: createCopierFeature
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: copierId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeatureDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureDTO"
          description: OK
      summary: Create a copier feature
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/copiers/{copierId}/features/{featureId}:
    delete:
      operationId: deleteCopierFeature
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: copierId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: featureId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete a copier feature
      tags:
      - Account API
    get:
      operationId: getCopierFeature
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: copierId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: featureId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureDTO"
          description: OK
      summary: Get a copier feature
      tags:
      - Account API
    put:
      operationId: updateCopierFeature
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: copierId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: featureId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeatureDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureDTO"
          description: OK
      summary: Update a copier feature
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/copiers/{copierId}/resync:
    post:
      description: "Resynchronize with the master account. If a position was closed\
        \ on the slave account but remains open on the master, this operation will\
        \ reopen the position on the slave to match the master's state."
      operationId: resyncCopier
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: copierId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Resynchronize copier with master
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/copiers/{copierId}/symbolMappings/current:
    get:
      operationId: getAccountCopierCurrentSymbolMappings
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: copierId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SymbolMappingDTO"
                type: array
          description: OK
      summary: Get account copier current symbol mappings
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/dataCollector:
    get:
      description: "Retrieves equity, balance, and floating PnL time-series data collected\
        \ for advanced analytics, drawdown monitoring, and equity curve construction."
      operationId: getAccountDataCollectorRecords
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Maximum number of records to return (default: 10000, use -1\
          \ for all records)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Start date filter (ISO-8601 format)
        example: 2023-01-01T00:00:00Z
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          type: string
        style: form
      - description: End date filter (ISO-8601 format)
        example: 2023-12-31T23:59:59Z
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DataCollectorRecordDTO"
                type: array
          description: OK
      summary: Get data collector records for a specific account
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/deactivateSlavesCopier:
    post:
      operationId: deactivateSlavesCopier
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Deactivate all copiers of all slave accounts
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/features:
    get:
      operationId: getAccountFeatures
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FeatureDTO"
                type: array
          description: OK
      summary: Get all account features
      tags:
      - Account API
    post:
      operationId: createAccountFeature
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeatureDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureDTO"
          description: OK
      summary: Create an account feature
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/features/{featureId}:
    delete:
      operationId: deleteAccountFeature
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: featureId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete an account feature
      tags:
      - Account API
    get:
      operationId: getAccountFeature
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: featureId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureDTO"
          description: OK
      summary: Get an account feature
      tags:
      - Account API
    put:
      operationId: updateAccountFeature
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: featureId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeatureDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureDTO"
          description: OK
      summary: Update an account feature
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/history/positions:
    get:
      description: The history is not updated in real-time. There may be a delay of
        up to 3 minutes
      operationId: getHistoryPositions
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: ISO 8601
        example: 2023-07-28T14:32:07+07:00
        explode: true
        in: query
        name: start
        required: true
        schema:
          type: string
        style: form
      - description: ISO 8601
        example: 2023-12-25T16:05:06+07:00
        explode: true
        in: query
        name: stop
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PositionDTO"
                type: array
          description: OK
      summary: Get account history positions
      tags:
      - Trading API
  /rest/api/v1/accounts/{accountId}/information:
    get:
      operationId: getInformation
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountInformationDTO"
          description: OK
      summary: Get account information
      tags:
      - Trading API
  /rest/api/v1/accounts/{accountId}/logs:
    get:
      operationId: getAccountLogs
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Get the last logs: e.g. 100 means the last 100 logs"
        example: 100
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: You can set an offset. Offset 100 means 101-200
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: ISO 8601
        example: 2023-07-28T14:32:07+07:00
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: ISO 8601
        example: 2023-12-25T16:05:06+07:00
        explode: true
        in: query
        name: stop
        required: false
        schema:
          type: string
        style: form
      - description: "Filter logs by log level type ID. If you choose 3 = Info, then\
          \ all logs with a lower level are returned. The levels are: 1 = Error, 2\
          \ = Warning, 3 = Info."
        example: 1
        explode: true
        in: query
        name: logTypeId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/LogDTO"
                type: array
          description: OK
      summary: Get account logs
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/monitorOnlySlavesCopier:
    post:
      operationId: monitorOnlySlavesCopier
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Set all copiers of all slave accounts to monitor-only mode
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/orders:
    post:
      description: "Places an order and returns immediately. The endpoint does not\
        \ wait for the trade to be executed and therefore does not confirm whether\
        \ the execution was successful or not. To open positions, use the /positions\
        \ endpoint."
      operationId: sendOrder
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PositionRequestDTO"
        required: true
      responses:
        "204":
          description: No Content
      summary: Send an account order
      tags:
      - Trading API
  /rest/api/v1/accounts/{accountId}/performanceMetrics:
    get:
      operationId: getAccountPerformanceMetrics
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PerformanceMetricsDTO"
          description: OK
      summary: Get an account performance metrics
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/positions:
    get:
      operationId: getPositions
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PositionDTO"
                type: array
          description: OK
      summary: Get account positions
      tags:
      - Trading API
    post:
      operationId: openPosition
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PositionRequestDTO"
        required: true
      responses:
        "204":
          description: No Content
      summary: Open an account position
      tags:
      - Trading API
  /rest/api/v1/accounts/{accountId}/positions/{positionId}:
    delete:
      operationId: closePosition
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: positionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Close an account position
      tags:
      - Trading API
    put:
      description: "For partial close you can use this endpoint. Only volume, open\
        \ price, take profit, and stop loss can be modified."
      operationId: modifyPosition
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: positionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PositionRequestDTO"
        required: true
      responses:
        "204":
          description: No Content
      summary: Modify an account position
      tags:
      - Trading API
  /rest/api/v1/accounts/{accountId}/profitTargets/{profitTargetFeatureId}/reset:
    put:
      description: "If the profit target (e.g., daily) is hit, no trades will be copied\
        \ for the remainder of the day. To resume trading on the same day, you can\
        \ utilize this operation to unlock the profit target"
      operationId: resetProfitTarget
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: profitTargetFeatureId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Reset an account profit target
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/quote/{symbol}:
    get:
      description: "Fetches the current bid price, ask price, and timestamp for a\
        \ specific trading symbol. Note: Not all platforms support real-time quote\
        \ fetching. If there is no response or an error is returned, it means the\
        \ platform does not support this feature."
      operationId: getQuote
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Symbol name (e.g., EURUSD, GBPJPY)"
        example: EURUSD
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketQuoteDTO"
          description: OK
      summary: Get market quote for a symbol
      tags:
      - Trading API
  /rest/api/v1/accounts/{accountId}/riskLimits:
    get:
      operationId: getRiskLimits
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/RiskLimitDTO"
                type: array
          description: OK
      summary: Get account risk limits
      tags:
      - Account API
    post:
      operationId: createRiskLimit
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RiskLimitDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RiskLimitDTO"
          description: OK
      summary: Create an account risk limit
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/riskLimits/{riskLimitId}:
    delete:
      operationId: deleteRiskLimit
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: riskLimitId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete an account risk limit
      tags:
      - Account API
    get:
      operationId: getRiskLimit
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: riskLimitId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RiskLimitDTO"
          description: OK
      summary: Get an account risk limit
      tags:
      - Account API
    put:
      operationId: updateRiskLimit
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: riskLimitId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RiskLimitDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RiskLimitDTO"
          description: OK
      summary: Update an account risk limit
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/riskLimits/{riskLimitId}/reset:
    put:
      description: "If the risk limit (e.g., daily) is hit, no trades will be copied\
        \ for the remainder of the day. To resume trading on the same day, you can\
        \ utilize this operation to unlock the risk limit"
      operationId: resetRiskLimit
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: riskLimitId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Reset an account risk limit
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/slaves:
    get:
      operationId: getSlaveAccounts
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AccountDTO"
                type: array
          description: OK
      summary: Get all slave accounts that are copying from this master account
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/symbolMappings:
    post:
      operationId: getAccountSymbolMappings
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestSymbolMappingsDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SymbolMappingDTO"
                type: array
          description: OK
      summary: Get account symbol mappings for given symbols
      tags:
      - Account API
  /rest/api/v1/accounts/{accountId}/symbols:
    get:
      operationId: getSymbols
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SymbolDTO"
                type: array
          description: OK
      summary: Get account symbols
      tags:
      - Trading API
  /rest/api/v1/marketplace:
    get:
      operationId: getMarketplace
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketplaceDTO"
          description: OK
      summary: Get marketplace data
      tags:
      - Marketplace API
  /rest/api/v1/projects/{projectId}:
    get:
      operationId: getProject
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectDTO"
          description: OK
      summary: Get a project
      tags:
      - Project API
    put:
      operationId: updateProject
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectDTO"
          description: OK
      summary: Update a project
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/apiKeys/availableEndpoints:
    get:
      description: Returns a list of all REST endpoints with their HTTP methods that
        can be controlled via API key access policy. Endpoints annotated with @Hidden
        are excluded.
      operationId: getAvailableEndpoints
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/RestEndpointMetadataDTO"
                type: array
          description: OK
      summary: Get available REST endpoints
      tags:
      - API Key Management
  /rest/api/v1/projects/{projectId}/apiKeys/availableFields:
    get:
      description: Returns a list of all visible fields in AccountInformationDTO that
        can be controlled via API key access policy. Fields annotated with @Hidden
        or @Schema(hidden=true) are excluded.
      operationId: getAvailableFields
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FieldMetadataDTO"
                type: array
          description: OK
      summary: Get available AccountInformationDTO fields
      tags:
      - API Key Management
  /rest/api/v1/projects/{projectId}/apiKeys/availableFrontendFeatures:
    get:
      description: Returns a list of all frontend features that can be hidden via
        API key access policy.
      operationId: getAvailableFrontendFeatures
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FrontendFeatureDTO"
                type: array
          description: OK
      summary: Get available frontend features
      tags:
      - API Key Management
  /rest/api/v1/projects/{projectId}/auditLogs:
    get:
      description: "Retrieves audit logs for all API modifications made to the project.\
        \ Only includes POST, PUT, and DELETE operations."
      operationId: getProjectAuditLogs
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Maximum number of logs to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Number of logs to skip for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Start date filter (ISO-8601 format)
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: End date filter (ISO-8601 format)
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AuditLogDTO"
                type: array
          description: OK
      summary: Get audit logs for a project
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/closeAllPositions:
    post:
      operationId: closeAllPositionsInAllAccounts
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Close all open positions in all accounts
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/costs/forecast:
    get:
      operationId: getForecastCost
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForecastDTO"
          description: OK
      summary: Retrieve forecast cost for a specific project
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/features:
    get:
      operationId: getProjectFeatures
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FeatureDTO"
                type: array
          description: OK
      summary: Get all project features
      tags:
      - Project API
    post:
      operationId: createProjectFeature
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeatureDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureDTO"
          description: OK
      summary: Create a project feature
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/features/{featureId}:
    delete:
      operationId: deleteProjectFeature
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: featureId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete a project feature
      tags:
      - Project API
    get:
      operationId: getProjectFeature
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: featureId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureDTO"
          description: OK
      summary: Get a project feature
      tags:
      - Project API
    put:
      operationId: updateProjectFeature
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: featureId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeatureDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureDTO"
          description: OK
      summary: Update a project feature
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/invoices:
    get:
      operationId: getInvoices
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/InvoiceDTO"
                type: array
          description: OK
      summary: Get all invoices
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/invoices/{invoiceNumber}/details:
    get:
      operationId: getInvoiceDetails
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: invoiceNumber
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Get invoice calculation details
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/labels:
    get:
      operationId: getAvailableLabels
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Get available labels (for account)
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/logs:
    get:
      operationId: getProjectLogs
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Get the last logs: e.g. 100 means the last 100 logs"
        example: 100
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: You can set an offset. Offset 100 means 101-200
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Filter logs by log level type ID. If you choose 3 = Info, then\
          \ all logs with a lower level are returned. The levels are: 1 = Error, 2\
          \ = Warning, 3 = Info."
        example: 1
        explode: true
        in: query
        name: logTypeId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/LogDTO"
                type: array
          description: OK
      summary: Get project logs
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/logs/acknowledge/bulk:
    put:
      operationId: acknowledgeLogsBulk
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                format: int32
                type: integer
              type: array
        required: true
      responses:
        "200":
          description: OK
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/logs/acknowledgeAll:
    put:
      operationId: acknowledgeAllLogs
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Acknowledge all logs
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/logs/{id}/acknowledge:
    put:
      operationId: acknowledgeLog
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          description: OK
      summary: Acknowledge a log
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/signals:
    get:
      operationId: getProjectAvailableSignalsToFollow
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FeatureDTO"
                type: array
          description: OK
      summary: Get available signals
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/strategies:
    get:
      operationId: getProjectStrategies
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/StrategyDTO"
                type: array
          description: OK
      summary: Get all strategies
      tags:
      - Project API
    post:
      operationId: createProjectStrategy
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StrategyDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StrategyDTO"
          description: OK
      summary: Create a strategy
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/strategies/{strategyId}:
    delete:
      operationId: deleteProjectStrategy
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: strategyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete a strategy
      tags:
      - Project API
    get:
      operationId: getProjectStrategy
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: strategyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StrategyDTO"
          description: OK
      summary: Get a strategy
      tags:
      - Project API
    put:
      operationId: updateProjectStrategy
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: strategyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StrategyDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StrategyDTO"
          description: OK
      summary: Update a strategy
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/strategies/{strategyId}/copiers:
    get:
      operationId: getProjectStrategyCopiers
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: strategyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CopierDTO"
                type: array
          description: OK
      summary: Get strategy copiers
      tags:
      - Project API
    post:
      operationId: createProjectStrategyCopier
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: strategyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CopierDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CopierDTO"
          description: OK
      summary: Create a strategy copier
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/strategies/{strategyId}/copiers/{copierId}:
    delete:
      operationId: deleteProjectStrategyCopier
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: strategyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: copierId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete a strategy copier
      tags:
      - Project API
    get:
      operationId: getProjectStrategyCopier
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: strategyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: copierId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CopierDTO"
          description: OK
      summary: Get strategy copier
      tags:
      - Project API
    put:
      operationId: updateProjectStrategyCopier
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: strategyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: copierId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CopierDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CopierDTO"
          description: OK
      summary: Update a strategy copier
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/strategies/{strategyId}/copiers/{copierId}/features:
    get:
      operationId: getProjectStrategyCopierFeatures
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: strategyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: copierId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FeatureDTO"
                type: array
          description: OK
      summary: Get all strategy copier features
      tags:
      - Project API
    post:
      operationId: createProjectStrategyCopierFeature
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: strategyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: copierId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeatureDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureDTO"
          description: OK
      summary: Create a strategy copier feature
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/strategies/{strategyId}/copiers/{copierId}/features/{featureId}:
    delete:
      operationId: deleteProjectStrategyCopierFeature
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: strategyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: copierId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: featureId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete a strategy copier feature
      tags:
      - Project API
    get:
      operationId: getProjectStrategyCopierFeature
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: strategyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: copierId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: featureId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureDTO"
          description: OK
      summary: Get a strategy copier feature
      tags:
      - Project API
    put:
      operationId: updateProjectStrategyCopierFeature
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: strategyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: copierId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: featureId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeatureDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureDTO"
          description: OK
      summary: Update a strategy copier feature
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/strategies/{strategyId}/copiers/{copierId}/resync:
    post:
      description: "Resynchronize with the master account. If a position was closed\
        \ on the slave account but remains open on the master, this operation will\
        \ reopen the position on the slave to match the master's state."
      operationId: resyncStrategyCopier
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: strategyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: copierId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Resync copier with master
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/symbolMappings:
    get:
      operationId: getProjectSymbolMappings
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SymbolMappingDTO"
                type: array
          description: OK
      summary: Get symbol mappings
      tags:
      - Project API
    post:
      operationId: createProjectSymbolMapping
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SymbolMappingDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SymbolMappingDTO"
          description: OK
      summary: Create a symbol mapping
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/symbolMappings/{symbolMappingId}:
    delete:
      operationId: deleteProjectSymbolMapping
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: symbolMappingId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete a symbol mapping
      tags:
      - Project API
    get:
      operationId: getProjectSymbolMapping
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: symbolMappingId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SymbolMappingDTO"
          description: OK
      summary: Get a symbol mapping
      tags:
      - Project API
    put:
      operationId: updateProjectSymbolMapping
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: symbolMappingId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SymbolMappingDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SymbolMappingDTO"
          description: OK
      summary: Update a symbol mapping
      tags:
      - Project API
  /rest/api/v1/projects/{projectId}/transactions:
    get:
      operationId: getProjectTransactions
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/TransactionDTO"
                type: array
          description: OK
      summary: Get project transactions
      tags:
      - Project API
  /rest/api/v1/reports/performance:
    post:
      operationId: createReportPerformance
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReportPerformanceParametersDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportPerformanceDTO"
          description: OK
      summary: 'Create a performance report '
      tags:
      - Report API
  /rest/api/v1/signals/{signalProviderId}/accounts:
    get:
      operationId: getSignalFollowerAccounts
      parameters:
      - explode: false
        in: path
        name: signalProviderId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AccountDTO"
                type: array
          description: OK
      summary: Get all signal follower accounts
      tags:
      - Signal API
  /rest/api/v1/signals/{signalProviderId}/accounts/{accountId}/actions/closeAllPositions:
    post:
      operationId: closeSignalFollowerAllPositions
      parameters:
      - explode: false
        in: path
        name: signalProviderId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Close all signal follower account positions
      tags:
      - Signal API
  /rest/api/v1/signals/{signalProviderId}/accounts/{accountId}/auditLogs:
    get:
      description: Retrieves audit logs for all API modifications made to a specific
        signal follower account.
      operationId: getSignalFollowerAccountAuditLogs
      parameters:
      - explode: false
        in: path
        name: signalProviderId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Maximum number of logs to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Number of logs to skip for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Start date filter (ISO-8601 format)
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: End date filter (ISO-8601 format)
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AuditLogDTO"
                type: array
          description: OK
      summary: Get signal follower account audit logs
      tags:
      - Signal API
  /rest/api/v1/signals/{signalProviderId}/accounts/{accountId}/followerFeature:
    get:
      operationId: getFollowerFeature
      parameters:
      - explode: false
        in: path
        name: signalProviderId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureDTO"
          description: OK
      summary: Get follower feature
      tags:
      - Signal API
    put:
      operationId: updateFollowerFeature
      parameters:
      - explode: false
        in: path
        name: signalProviderId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeatureDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureDTO"
          description: OK
      summary: Update follower feature
      tags:
      - Signal API
  /rest/api/v1/signals/{signalProviderId}/accounts/{accountId}/history/positions:
    get:
      description: The history is not updated in real-time. There may be a delay of
        up to 3 minutes
      operationId: getSignalFollowerAccountHistoryPositions
      parameters:
      - explode: false
        in: path
        name: signalProviderId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: ISO 8601
        example: 2023-07-28T14:32:07+07:00
        explode: true
        in: query
        name: start
        required: true
        schema:
          type: string
        style: form
      - description: ISO 8601
        example: 2023-12-25T16:05:06+07:00
        explode: true
        in: query
        name: stop
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PositionDTO"
                type: array
          description: OK
      summary: Get signal follower account history positions
      tags:
      - Signal API
  /rest/api/v1/signals/{signalProviderId}/accounts/{accountId}/logs:
    get:
      operationId: getSignalFollowerAccountLogs
      parameters:
      - explode: false
        in: path
        name: signalProviderId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Get the last logs: e.g. 100 means the last 100 logs"
        example: 100
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: You can set an offset. Offset 100 means 101-200
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: ISO 8601
        example: 2023-07-28T14:32:07+07:00
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: ISO 8601
        example: 2023-12-25T16:05:06+07:00
        explode: true
        in: query
        name: stop
        required: false
        schema:
          type: string
        style: form
      - description: "Filter logs by log level type ID. If you choose 3 = Info, then\
          \ all logs with a lower level are returned. The levels are: 1 = Error, 2\
          \ = Warning, 3 = Info."
        example: 1
        explode: true
        in: query
        name: logTypeId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/LogDTO"
                type: array
          description: OK
      summary: Get signal follower account logs
      tags:
      - Signal API
  /rest/api/v1/signals/{signalProviderId}/accounts/{accountId}/performanceMetrics:
    get:
      operationId: getSignalFollowerAccountPerformanceMetrics
      parameters:
      - explode: false
        in: path
        name: signalProviderId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PerformanceMetricsDTO"
          description: OK
      summary: Get signal follower account performance metrics
      tags:
      - Signal API
  /rest/api/v1/signals/{signalProviderId}/accounts/{accountId}/positions:
    get:
      operationId: getSignalFollowerAccountPositions
      parameters:
      - explode: false
        in: path
        name: signalProviderId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PositionDTO"
                type: array
          description: OK
      summary: Get signal follower account positions
      tags:
      - Signal API
  /rest/api/v1/signals/{signalProviderId}/accounts/{accountId}/positions/{positionId}:
    delete:
      operationId: closeSignalFollowerPosition
      parameters:
      - explode: false
        in: path
        name: signalProviderId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: positionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Close an signal follower account position
      tags:
      - Signal API
  /rest/api/v1/signals/{signalProviderId}/accounts/{accountId}/symbols:
    get:
      operationId: getSignalSymbols
      parameters:
      - explode: false
        in: path
        name: signalProviderId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SymbolDTO"
                type: array
          description: OK
      summary: Get signal follower account symbols
      tags:
      - Signal API
  /rest/api/v1/signals/{signalProviderId}/closeAllPositions:
    post:
      operationId: closeAllPositionsInAllFollowerAccounts
      parameters:
      - explode: false
        in: path
        name: signalProviderId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Close all open positions in all accounts (followers)
      tags:
      - Signal API
  /rest/api/v1/types/accountTypes:
    get:
      operationId: getAccountTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AccountTypeDTO"
                type: array
          description: OK
      summary: Get account type enum
      tags:
      - Type API
  /rest/api/v1/types/currencyTypes:
    get:
      operationId: getCurrencyTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CurrencyTypeDTO"
                type: array
          description: OK
      summary: Get currency type enum
      tags:
      - Type API
  /rest/api/v1/types/featureTypes:
    get:
      operationId: getFeatureTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FeatureTypeDTO"
                type: array
          description: OK
      summary: Get feature type enum
      tags:
      - Type API
  /rest/api/v1/types/logTypes:
    get:
      operationId: getLogTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/LogTypeDTO"
                type: array
          description: OK
      summary: Get log type enum
      tags:
      - Type API
  /rest/api/v1/types/notificationCategoryTypes:
    get:
      operationId: getNotificationCategoryTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/NotificationCategoryTypeDTO"
                type: array
          description: OK
      summary: Get notification category type enum
      tags:
      - Type API
  /rest/api/v1/types/proxyRegions:
    get:
      operationId: getProxyRegions
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ProxyRegionDTO"
                type: array
          description: OK
      summary: Get proxy region enum
      tags:
      - Type API
  /rest/api/v1/types/regions:
    get:
      operationId: getRegions
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/RegionDTO"
                type: array
          description: OK
      summary: Get region enum
      tags:
      - Type API
  /rest/api/v1/types/riskTypes:
    get:
      operationId: getRiskTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/RiskTypeDTO"
                type: array
          description: OK
      summary: Get risk type enum
      tags:
      - Type API
  /rest/api/v1/types/scaleTypes:
    get:
      operationId: getScaleTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ScaleTypeDTO"
                type: array
          description: OK
      summary: Get scale type enum
      tags:
      - Type API
components:
  schemas:
    AccountDTO:
      example:
        loginServer: loginServer
        hasMonitorOnlyCopiers: true
        type:
          name: name
          id: 6
        accountInformation:
          missingSymbolMappings:
          - symbol: symbol
            copierId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            fromAccountId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            fromAccount: fromAccount
            lastTimestampDetected: 1
          - symbol: symbol
            copierId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            fromAccountId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            fromAccount: fromAccount
            lastTimestampDetected: 1
          leverage: 4
          openPositions: true
          brokeTimeOffsetToUtc: 1
          openPositionsCount: 1
          configuredProxy:
            ipAddress: ipAddress
            id: 5
            region:
              name: name
              id: 5
            usedByAccounts:
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          profitToday: 9.965781217890562
          isInvestorPassword: true
          maxDrawdown: 7.386281948385884
          pendingOrders: true
          equity: 9.301444243932576
          isNative: true
          usedMargin: 8.762042012749001
          accountDuplicationInProjectDetected: true
          balance: 6.027456183070403
          fallbackMode: true
          drawdown: 7.061401241503109
          latencyInMs: 2
          unrealizedProfit: 6.683562403749608
          wrongCredentials: true
          currency: currency
          credit: 2.3021358869347655
          freeMargin: 3.616076749251911
          positionMismatch: true
          profitThisMonth: 4.965218492984954
          profitThisWeek: 5.025004791520295
          pendingOrdersCount: 7
          accountMode: NETTING
          profitTargetsStatus:
          - balanceLastUpdate: 2000-01-23T04:56:07.000+00:00
            profitTargetIsHit: true
            referenceBalance: 1.1730742509559433
            profitTargetFeatureId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - balanceLastUpdate: 2000-01-23T04:56:07.000+00:00
            profitTargetIsHit: true
            referenceBalance: 1.1730742509559433
            profitTargetFeatureId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          connected: true
          proxy:
            ipAddress: ipAddress
            id: 5
            region:
              name: name
              id: 5
            usedByAccounts:
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          walletBalances:
          - balance: 9.018348186070783
            asset: asset
          - balance: 9.018348186070783
            asset: asset
          isHyperactive: true
          riskLimitsStatus:
          - balanceLastUpdate: 2000-01-23T04:56:07.000+00:00
            referenceBalance: 9.369310271410669
            limitIsHit: true
            riskLimitId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - balanceLastUpdate: 2000-01-23T04:56:07.000+00:00
            referenceBalance: 9.369310271410669
            limitIsHit: true
            riskLimitId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          avgDrawdown: 0.8008281904610115
          pendingApprovals:
          - volume: 6.84685269835264
            ticket: 1
            accountFromId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - volume: 6.84685269835264
            ticket: 1
            accountFromId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: status
        failIfAccountExistsInProject: true
        alias: alias
        nativeMode: false
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        hasDisabledCopiers: true
        ctraderClientId: ctraderClientId
        tradingDisabled: false
        skipCredentialCheck: false
        loginAccountPassword: loginAccountPassword
        created: 2000-01-23T04:56:07.000+00:00
        hasActiveCopiers: true
        ctraderClientSecret: ctraderClientSecret
        loginAccountNumber: loginAccountNumber
        myHomeIp:
          password: password
          httpPort: 3
          host: host
          socksPort: 6
          username: username
        statusMessage: statusMessage
        labels:
        - labels
        - labels
        closeUnmanagedPositions: false
        dedicatedIp:
          dedicatedProxyServerId: 6
        deleted: 2000-01-23T04:56:07.000+00:00
        region:
          name: name
          id: 1
        status:
          name: name
          id: 2
      properties:
        accountInformation:
          $ref: "#/components/schemas/AccountInformationDTO"
        alias:
          maxLength: 255
          minLength: 0
          type: string
        closeUnmanagedPositions:
          default: false
          description: "When enabled, any open positions on the account that were\
            \ originally opened by MetaCopier but are no longer managed, due to technical\
            \ issues, will be automatically closed. However, this mechanism can occasionally\
            \ result in false positives. If disabled, such unmanaged positions will\
            \ remain open, and a notification will be sent to the notification center\
            \ or to Telegram (if configured). In this case, manual intervention is\
            \ required. We recommend keeping this option disabled to avoid accidental\
            \ closures."
          example: false
          type: boolean
        created:
          description: ISO 8601
          format: date-time
          readOnly: true
          type: string
        ctraderClientId:
          type: string
        ctraderClientSecret:
          type: string
        dedicatedIp:
          $ref: "#/components/schemas/FeatureDedicatedIpDTO"
        deleted:
          description: ISO 8601
          format: date-time
          readOnly: true
          type: string
        failIfAccountExistsInProject:
          description: "If true, the create-account call fails when the account already\
            \ exists in the project"
          type: boolean
        hasActiveCopiers:
          description: "Indicates whether this account has any active copiers. Returns\
            \ true if at least one copier has active=true, false otherwise."
          readOnly: true
          type: boolean
        hasDisabledCopiers:
          description: "Indicates whether this account has any disabled only copiers.\
            \ Returns true if at least one copier has active=false, false otherwise."
          readOnly: true
          type: boolean
        hasMonitorOnlyCopiers:
          description: "Indicates whether this account has any monitor-only copiers.\
            \ Returns true if at least one copier is in monitor only mode (monitoring\
            \ without copying trades), false otherwise."
          readOnly: true
          type: boolean
        id:
          format: uuid
          readOnly: true
          type: string
        labels:
          description: "Set labels for your account. If null, this field will not\
            \ add, update, or delete anything. To delete all labels, set this field\
            \ to an empty list."
          items:
            description: "Set labels for your account. If null, this field will not\
              \ add, update, or delete anything. To delete all labels, set this field\
              \ to an empty list."
            type: string
          type: array
        loginAccountNumber:
          description: For Binance and Bybit leave it empty
          maxLength: 255
          minLength: 0
          type: string
        loginAccountPassword:
          description: "For cTrader 'token|refreshToken'. For Binance and Bybit 'apiKey|secretKey'.\
            \ Only fill this field if you want to update the password or at account\
            \ creation. When updating the account, you can leave this field empty\
            \ \"\" - you don't have to send the password every time."
          maxLength: 255
          minLength: 0
          type: string
        loginServer:
          description: "Enter the server address, for example, ICMarketsSC-MT5-4 for\
            \ MetaTrader, or the URL such as dxtrade.instantfunding.io for DXtrade\
            \ or mtr-demo-prod.match-trader.com MatchTrader. For CTrader, live.ctraderapi.com:5035\
            \ or demo.ctraderapi.com:5035. For TradeLocker, live.tradelocker.com or\
            \ demo.tradelocker.com. For Binance and Bybit 'live', 'testnet' or 'demo'."
          maxLength: 255
          minLength: 0
          type: string
        myHomeIp:
          $ref: "#/components/schemas/FeatureMyHomeIpDTO"
        nativeMode:
          default: false
          description: "Indicates whether the integration runs in native mode (applies\
            \ only to MetaTrader 4/5 connectors). If true, the solution operates via\
            \ the official MetaTrader terminal (native). If false, it connects directly\
            \ to the server without using the terminal (non-native). Non-native mode\
            \ can achieve lower latency for high-frequency trading (HFT) strategies,\
            \ but for 99% of typical use cases native mode is sufficiently fast. If\
            \ the non-native mode fails or becomes unavailable, the system will automatically\
            \ fall back to native mode. For all other connectors, the integration\
            \ is always native."
          example: false
          type: boolean
        region:
          $ref: "#/components/schemas/RegionDTO"
        skipCredentialCheck:
          default: false
          description: "When set to true, skips credential validation during account\
            \ creation. Use with caution, the account will be created without verifying\
            \ login credentials."
          example: false
          type: boolean
        status:
          $ref: "#/components/schemas/AccountStatusDTO"
        statusMessage:
          readOnly: true
          type: string
        tradingDisabled:
          default: false
          description: "When enabled, puts the account in read-only mode, preventing\
            \ any new trades from being opened or existing trades from being modified\
            \ or closed. Use this when you want to use the account as a read-only\
            \ master."
          example: false
          type: boolean
        type:
          $ref: "#/components/schemas/AccountTypeDTO"
      required:
      - loginAccountPassword
      - loginServer
      - region
      - type
      type: object
    AccountInformationDTO:
      description: Is synced every minute
      example:
        missingSymbolMappings:
        - symbol: symbol
          copierId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          fromAccountId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          fromAccount: fromAccount
          lastTimestampDetected: 1
        - symbol: symbol
          copierId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          fromAccountId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          fromAccount: fromAccount
          lastTimestampDetected: 1
        leverage: 4
        openPositions: true
        brokeTimeOffsetToUtc: 1
        openPositionsCount: 1
        configuredProxy:
          ipAddress: ipAddress
          id: 5
          region:
            name: name
            id: 5
          usedByAccounts:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        profitToday: 9.965781217890562
        isInvestorPassword: true
        maxDrawdown: 7.386281948385884
        pendingOrders: true
        equity: 9.301444243932576
        isNative: true
[...]
